<ion-view view-title="{{currentclass.title}} ({{'__CLASSROOM__' |translate}} {{currentclass.aula}})">
  <ion-content>
    <div class="list list-inset">
        <ion-list>
          <div class="item item-divider">{{"__RESOURCES__" | translate}}</div>
          <ion-item ng-repeat="resource in currentclass.resources" on-tap="openInApp(resource.link || '/webapps/bustiaca/listMails.do', {l: resource.code}, true)" href="#">
            {{resource.title}}
            <span class="badge badge-assertive" ng-if="resource.messages > state.critical">{{resource.messages}} / {{resource.all_messages}}</span>
            <span class="badge badge-energized" ng-if="resource.messages <= state.critical && resource.messages > 0">{{resource.messages}} / {{resource.all_messages}}</span>
            <span class="badge badge-balanced" ng-if="resource.messages == 0">{{resource.messages}} / {{resource.all_messages}}</span>
          </ion-item>
        </ion-list>
        <br>
        <ion-list>
          <div class="item item-divider" ng-if="currentclass.events.length">{{"__ACTIVITIES__" | translate}}</div>
          <ion-item ng-repeat="event in currentclass.events" ng-if="!event.hide" class="item event {{event.eventstate}}" on-tap="openInApp(event.link)" href="#">
          <div class="row">
            <div class="col"><i class="icon {{event.icon}} {{event.iconcolor}}"></i> {{event.name}}</div>
            <div class="col text-center">
              <span class="badge badge-balanced"  ng-if="event.starttext === true"><i class="icon ion-checkmark-round"></i></span>
              <span ng-if="event.starttext !== true && event.starttext">{{event.starttext}}</span></div>
            <div class="col text-center">
              <span class="badge badge-balanced" ng-if="event.endtext === true"><i class="icon ion-checkmark-round"></i></span>
              <span ng-if="event.endtext !== true && event.endtext">{{event.endtext}}</span></div>
            <div class="col text-center">
              <span class="badge badge-balanced" ng-if="event.soltext === true"><i class="icon ion-checkmark-round"></i></span>
              <span ng-if="event.soltext !== true && event.soltext">{{event.soltext}}</span></div>
            <div class="col text-center">
              <span class="badge badge-balanced" ng-if="event.gradtext === true"><i class="icon ion-checkmark-round"></i></span>
              <span ng-if="event.gradtext !== true && event.gradtext && !event.graded">{{event.gradtext}}</span>
              <span class="badge badge-positive" ng-if="event.graded">{{event.graded}}</span>
            </div>
          </div>

          </ion-item>
          <ion-item ng-repeat="grade in currentclass.grades" class="item event">
            <div class="row">
             <div class="col">{{"__"+grade.name+"__" | translate}}</div>
             <div class="col">
              <span class="badge badge-energized" ng-if="grade.grade && grade.prov"><i class="icon ion-alert-circled"></i> {{grade.grade}}</span>
              <span class="badge badge-positive" ng-if="grade.grade && !grade.prov">{{grade.grade}}</span>
             </div>
            </div>
          </ion-item>
        </ion-list>

        <br>
        <ion-list>
            <div class="item item-divider" ng-if="currentclass.events.length">{{"__TOOLS__" | translate}}</div>
              <ion-item on-tap="openInApp('/WebMail/writeMail.do', {to: currentclass.consultormail})" href="#"><i class="icon ion-email"></i> {{"__TEACHER__" | translate}} <strong>{{currentclass.consultor}}</strong><br>
                <span ng-if="currentclass.consultorlastviewed">{{"__VIEWED_LAST_TIME__" | translate: currentclass.consultorlastviewtranslate}}
             </ion-item>
        </ion-list>
    </div>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-colored" style="background-color: #{{currentclass.color}};">
  <div class="button-bar">
    <button class="button button-clear icon ion-university" ng-click="openClassroom()">{{'__GOTO_CLASS__' | translate}}</button>
    <button ng-if="currentclass.has_events() && currentclass.subject_code" class="button button-clear icon ion-speedometer" ng-click="openInApp('/webapps/rac/listEstudiant.action', {domainId: currentclass.domain})">{{'__GRADES__' | translate}}</button>
  </div>
</ion-footer-bar>
</ion-view>
