<ion-view view-title="{{currentclass.title}}">
  <ion-content class="has-footer">
    <div class="card" ng-if="currentclass.final_grades && currentclass.stats">
        <div class="item item-text-wrap">{{"__END_OF_CLASSROOMS__" | translate}}</div>
    </div>

    <div class="card" ng-if="exams">
        <div class="item item-divider">
            <i class="icon ion-university"></i>
            <a target="_blank" ng-click="openInApp(exams.link)">{{"__FINAL_TESTS__" | translate: {seu: exams.seu, date: exams.date} }}</a>
        </div>
        <div class="item item-text-wrap" ng-if="exams.timeEX"> {{"__FINAL_TESTS_CLASS_TITLE__" | translate: { type: exams.typeEX, time: exams.timeEX, place: exams.placeEX } }}</div>
        <div class="item item-text-wrap" ng-if="exams.timePS"> {{"__FINAL_TESTS_CLASS_TITLE__" | translate: { type: exams.typePS, time: exams.timePS, place: exams.placePS } }}</div>
    </div>
    <div class="list list-inset">
        <ion-list ng-if="currentclass.resources.length">
          <div class="item item-divider">{{"__RESOURCES__" | translate}}</div>
          <ion-item ng-repeat="resource in currentclass.resources" class="item resource" ng-click="openResource(resource)">
            {{resource.title}}
            <span class="badge" ng-if="resource.messages >= 0" ng-class="{'badge-assertive': resource.messages > state.critical, 'badge-energized': resource.messages <= state.critical && resource.messages > 0, 'badge-balanced': resource.messages == 0}">
              {{resource.messages}} / {{resource.all_messages}}
            </span>
          </ion-item>
        </ion-list>
        <br>
        <ion-list ng-if="currentclass.events.length">
          <div class="item item-divider">{{"__ACTIVITIES__" | translate}}</div>
          <ion-item ng-repeat="event in currentclass.events" ng-if="!event.hide" class="item event {{event.eventstate}}" ng-click="gotoEvent(event.eventId)">
            <div class="row">
              <div class="col col-title" ng-class="{'col-40': !event.graded || event.starttext || event.endtext || event.soltext ,'col-85': event.graded && !event.starttext && !event.endtext && !event.soltext}"><i class="icon {{event.icon}} {{event.iconcolor}}"></i> {{event.name}}</div>
              <eventdate ng-if="!event.graded" class="col col-15" date="event.starttext" graded="event.graded"></eventdate>
              <eventdate ng-if="!event.graded" class="col col-15" date="event.endtext" graded="event.graded"></eventdate>
              <eventdate ng-if="!event.graded" class="col col-15" date="event.soltext" graded="event.graded"></eventdate>
              <eventgrade class="col col-15" date="event.gradtext" graded="event.graded" comment="event.commenttext"></eventdate>
            </div>
          </ion-item>

          <div class="item item-divider" ng-if="currentclass.grades.length > 0">{{"__FINAL_GRADES__" | translate}}</div>
          <ion-item ng-repeat="grade in currentclass.grades" class="item event">
            <div class="row">
             <div class="col col-85">{{"__"+grade.name+"__" | translate}}</div>
             <div class="col col-15">
              <span class="badge badge-energized" ng-if="grade.grade && grade.prov"><i class="icon ion-alert-circled"></i> {{grade.grade}}</span>
              <span class="badge badge-positive" ng-if="grade.grade && !grade.prov">{{grade.grade}}</span>
             </div>
            </div>
          </ion-item>
        </ion-list>

        <br>
        <ion-list>
            <div class="item item-divider">{{"__TOOLS__" | translate}}</div>
              <ion-item ng-click="openInApp('/WebMail/writeMail.do', {to: currentclass.consultormail})"><i class="icon ion-email"></i> {{"__TEACHER__" | translate}} <strong>{{currentclass.consultor}}</strong><br>
                <span ng-if="currentclass.consultorlastviewed">
                  <span ng-if="currentclass.consultorlastviewtranslate.time == '00:00'">
                    {{"__VIEWED_LAST_DATE__" | translate: currentclass.consultorlastviewtranslate}}
                  </span>
                  <span ng-if="currentclass.consultorlastviewtranslate.time != '00:00'">
                    {{"__VIEWED_LAST_TIME__" | translate: currentclass.consultorlastviewtranslate}}
                  </span>
                </span>
             </ion-item>
             <ion-item ng-if="currentclass.stats" ng-click="openInApp('/tren/trenacc', {modul: state.gat+'.ESTADNOTES/estadis.assignatures', assig: currentclass.subject_code, pAnyAcademic: currentclass.any})">
              <i class="icon ion-stats-bars"></i> {{"__STATS__" | translate}}
             </ion-item>
             <ion-item ng-if="currentclass.type != 'TUTORIA'" ng-click="openInApp('/webapps/classroom/download.do', {nav: 'pladocent', domainId: currentclass.domain, format: 'html', app: 'aulaca', precarrega: false})">
              <i class="icon ion-easel"></i> {{"__TEACHING_PLAN__" | translate}}<br>
              <span ng-if="currentclass.aula"><strong>{{'__CLASSROOM__' |translate}}</strong> {{currentclass.aula}}</span>
              <span ng-if="currentclass.subject_code"> ({{currentclass.subject_code}})</span>
             </ion-item>

        </ion-list>
    </div>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-colored" style="background-color: #{{currentclass.color}};" ng-if="state.session">
  <div class="button-bar">
    <button class="button button-clear icon ion-university" ng-click="openClassroom()"> {{'__GOTO_CLASS__' | translate}}</button>
    <button ng-if="currentclass.has_events() && currentclass.subject_code" class="button button-clear icon ion-speedometer" ng-click="openInApp('/webapps/rac/listEstudiant.action', {domainId: currentclass.domain})">{{'__GRADES__' | translate}}</button>
  </div>
</ion-footer-bar>
</ion-view>
