<ion-view view-title="{{acronym}} - {{event.name}}">
  <ion-content ng-class="{'has-footer' : state.session}">

    <div class="list">
      <ion-item>
        <h2>{{title}}</h2>
        <p>{{event.name}}</p>
      </ion-item>
      <ion-item class="item item-icon-left item-text-wrap">
          <i class="icon {{icon}} {{iconcolor}}"></i>
          <strong>{{typetext}}</strong><span ng-if="status">: <br/>{{status | translate: statusparams }}</span>
      </ion-item>
      <ion-item class="item item-icon-left item-text-wrap" ng-if="event.start">
          <i class="icon ion-checkmark-round balanced" ng-if="start === true"></i>
          <i class="icon ion-clock energized" ng-if="start == 'TODAY'"></i>
          <i class="icon ion-arrow-right-b" ng-if="start !== true && start != 'TODAY' && start"></i>
          <strong>{{"__START__" |translate}}</strong>: {{event.start}}
      </ion-item>
      <ion-item class="item item-icon-left item-text-wrap" ng-if="event.end">
          <i class="icon ion-checkmark-round balanced" ng-if="end === true"></i>
          <i class="icon ion-clock energized" ng-if="end == 'TODAY'"></i>
          <i class="icon ion-arrow-right-b" ng-if="end !== true && end != 'TODAY' && end"></i>
          <strong>{{"__END__" |translate}}</strong>: {{event.end}}
      </ion-item>
      <ion-item class="item item-icon-left item-text-wrap" ng-if="event.solution">
          <i class="icon ion-checkmark-round balanced" ng-if="solution === true"></i>
          <i class="icon ion-clock energized" ng-if="solution == 'TODAY'"></i>
          <i class="icon ion-arrow-right-b" ng-if="solution !== true && solution != 'TODAY' && solution"></i>
          <strong>{{"__SOLUTION__" |translate}}</strong>: {{event.solution}}
      </ion-item>
      <ion-item class="item item-icon-left item-text-wrap" ng-if="event.grading">
          <i class="icon ion-checkmark-round balanced" ng-if="grade === true"></i>
          <i class="icon ion-clock energized" ng-if="grade == 'TODAY'"></i>
          <i class="icon ion-arrow-right-b" ng-if="grade !== true && grade != 'TODAY' && grade"></i>
          <strong>{{"__GRADE__" |translate}}</strong>: {{event.grading}}
          <span ng-if="event.graded"> - <span class="badge badge-inline badge-positive">{{event.graded}}</span></span>
      </ion-item>
      <ion-item class="item item-icon-left item-text-wrap" ng-if="event.commenttext">
          <i class="icon ion-chatbubble"></i><strong>{{"__COMMENT__" |translate: commentdate}}</strong>
      </ion-item>
      <div class="item item-body" ng-if="event.commenttext" ng-bind-html="commenttext"></div>
      <div class="item" ng-repeat="chart in charts">
        <h2>{{chart.name}}</h2>
        <canvas id="pie" class="chart chart-pie" chart-data="chart.values" chart-labels="chart.labels" chart-colors="chartColors"></canvas>
      </div>
  </div>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-colored" style="background-color: #{{classroomColor}};" ng-if="state.session">
  <div class="button-bar">
    <button class="button button-clear icon ion-university" ng-click="openEvent()"> {{'__GOTO_EVENT__' | translate}}</button>
  </div>
</ion-footer-bar>
</ion-view>
