<div class="text-center" ng-if="date || graded">
  <span class="badge badge-static badge-balanced" ng-if="date === true"><i class="icon ion-checkmark-round"></i></span>
  <span class="badge badge-static badge-energized"  ng-if="date == 'TODAY'"><i class="icon ion-clock"></i></span>
  <span ng-class="{'near': near}" ng-if="date !== true && date != 'TODAY' && date && !graded">{{date}}</span>
  <span class="badge badge-static badge-positive" ng-if="graded"><i ng-if="comment" class="icon ion-chatbubble"></i> {{graded}}</span>
</div>