<span ng-if="show">
    <span class="badge badge-inline" ng-class="{'badge-balanced': hasPassed && (!isGrades || !graded), 'badge-energized': isToday && (!isGrades || !graded), 'near': isNear && !hasPassed && !isToday && (!isGrades || !graded), 'badge-positive' : isGrades && graded }">
        <i ng-if="hasPassed && (!isGrades || !graded)" class="icon ion-checkmark-round"></i>
        <i ng-if="isToday && (!isGrades || !graded)" class="icon ion-clock"></i>
        <i ng-if="hasStats" class="icon ion-pie-graph"></i>
        <span ng-if="!hasPassed && !isToday && (!isGrades || !graded)"> {{dateFormatted}}</span>
        <span ng-if="isGrades && graded"> {{graded}}</span>
    </span>
</span>

