<ion-view view-title="{{ '__LINKS_TO_CAMPUS__' | translate }}">
  <ion-content>
    <ion-list>
      <div class="item item-divider">{{"__GRADES__" | translate }}</div>
      <ion-item ng-click="gotoTool('.EXASOLREVISION/consrevision.consrevision&s=')">
        <i class="icon ion-arrow-graph-up-right"></i> {{"__EXAM_REVISION__" | translate}}
      </ion-item>
      <ion-item ng-click="gotoTool('.ESTADNOTES/estadis.inici&s=')">
        <i class="icon ion-stats-bars"></i> {{"__STATS__" | translate}}
      </ion-item>
      <ion-item ng-click="gotoTool('/webapps/seleccioexpedient/cerca.html?s=', true)">
        <i class="icon ion-university"></i> {{"__EXPEDIENT__" | translate}}
      </ion-item>
      <ion-item ng-click="gotoTool('.NOTAS_SMS&s=')">
        <i class="icon ion-android-phone-portrait"></i> {{"__GRADES_SMS__" | translate}}
      </ion-item>
      <ion-item ng-click="gotoTool('/tren/trenacc/webapp/GEPAF.FULLPERSONAL/index.jsp?s=')">
        <i class="icon ion-network"></i> {{"__EXAM_SELECT__" | translate}}
      </ion-item>
      <ion-item ng-click="gotoTool('.INFCONSULTA/inici&s=')">
        <i class="icon ion-university"></i> {{"__OLD_EXPEDIENT__" | translate}}
      </ion-item>
      <div class="item item-divider">{{"__ENROLL__" | translate }}</div>
      <ion-item ng-click="gotoTool('.MATPREMATRICULA/inici&s=')">
        <i class="icon ion-help"></i> {{"__ENROLL_PROP__" | translate}}
      </ion-item>
      <ion-item ng-click="gotoTool('.MATMATRICULA/inici&s=')">
        <i class="icon ion-alert"></i> {{"__ENROLL__" | translate}}
      </ion-item>
      <div class="item item-divider">{{"__PERSONAL__" | translate }}</div>
      <ion-item ng-click="gotoTool('/app/guaita/calendari?perfil=estudiant&s=')">
        <i class="icon ion-android-calendar"></i> {{"__NEW_AGENDA__" | translate}}
      </ion-item>
      <ion-item ng-click="gotoOldAgenda()">
        <i class="icon ion-calendar"></i> {{"__OLD_AGENDA__" | translate}}
      </ion-item>
      <ion-item ng-click="gotoTool('/webapps/Agenda/NavigationServlet?s=')">
        <i class="icon ion-person"></i> {{"__PERSONAL_AGENDA__" | translate}}
      </ion-item>
      <ion-item ng-click="gotoFiles()">
        <i class="icon ion-folder"></i> {{"__FILES__" | translate}}
      </ion-item>
      <ion-item ng-click="gotoTool('/cgibin/hola?t=grups_tb/grups.tmpl&domainFather=grc&s=')">
        <i class="icon ion-person-stalker"></i> {{"__WORKING_GROUPS__" | translate}}
      </ion-item>
      <ion-item ng-click="gotoTool('/webapps/classroom/081_common/jsp/aules_estudiant.jsp?domainPontCode=ant&s=')">
        <i class="icon ion-archive"></i> {{"__OLD_CLASSROOMS__" | translate}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
