<ion-view view-title="{{'__LOGIN__' | translate}}">
  <ion-content>
    <form ng-submit="login()">
        <div class="list">
            <label class="item item-input item-stacked-label" for="username">
              <span class="input-label"><i class="icon ion-person"></i> {{ '__USER__' |translate }}</span>
              <input id="username" type="text" ng-model="settings.username" placeholder="{{ '__USER__' |translate }}">
            </label>

            <label class="item item-input item-stacked-label" for="password">
              <span class="input-label"><i class="icon ion-locked"></i> {{ '__PASSWORD__' |translate }}</span>
              <input id="password" type="password" ng-model="settings.password" placeholder="{{ '__PASSWORD__' |translate }}">
            </label>
            <div class="item item-text-wrap item-assertive item-icon-left" ng-if="incorrectLogin" ng-click="openLogin()">
            <i class="icon ion-alert-circled"></i> <span ng-bind-html=" '__INCORRECT_USER__' | translate ">{{'__INCORRECT_USER__' | translate}}</span>
            </div>
            <div class="item item-noborder" ng-if="!loggedIn">
              <button type="submit" class="button button-block button-positive" ng-disabled="!settings.username || !settings.password">{{"__LOGIN__" | translate}}</button>
            </div>
        </div>
    </form>
  </ion-content>
</ion-view>
