<ion-view view-title="UOC Notifier">
    <ion-content ng-class="{'has-footer' : state.session}">
        <ion-refresher pulling-text="{{'__PTR__' | translate}}" on-refresh="doRefresh()"></ion-refresher>
            <div class="card" ng-if="announcements && announcements.length > 0">
                <div ng-repeat="announcement in announcements" class="item item-icon-left" ng-click="toggleAnnouncement(announcement)">
                    <i class="icon ion-speakerphone"></i>
                    <div href="#" class="item-text-wrap">
                        <h2>
                            <a target="_blank" ng-click="openInApp(announcement.link)" ng-if="announcement.link">{{announcement.title}}</a>
                            <span ng-if="!announcement.link">{{announcement.title}}</span>
                        </h2>
                        <p ng-if="announcement.date">{{announcement.date}}</p>
                    </div>
                    <div class="item-body item-text-wrap" ng-bind-html="announcement.description" ng-show="announcement.show">{{announcement.description}}</div>
                </div>
            </div>

            <div class="card list" ng-if="events_today.length > 0">
                <event-row ng-repeat="event in events_today" event="event" class="item event"></event-row>
            </div>
        <ion-list ng-if="classes.length > 0">
            <ion-item ng-repeat="class in classes | orderBy:'title' | orderBy: 'type'" ng-click="gotoClassroom(class.code)" class="item class item-text-wrap">
                <h2>
                    <span class="class-color" style="background-color: #{{class.color}};"></span> {{class.title}}
                    <span class="badge" ng-if="class.messages > 0" ng-class="{'badge-assertive': class.messages > state.critical, 'badge-energized': class.messages <= state.critical}">
                        {{class.messages}}
                    </span>
                </h2>
                <ion-list ng-if="class.messages || class.events_today.length > 0 || class.grades.length > 0">
                    <resource ng-repeat="resource in class.resources" ng-if="resource.messages > 0 || resource.has_news()" name="resource.title"
                      messages="resource.messages" allmessages="resource.all_messages" hasmessagecount="resource.has_message_count()"
                      hasnews="resource.has_news()" notify="class.notify">
                    </resource>

                    <event-row ng-repeat="event in class.events_today" event="event"></event-row>

                    <ion-item ng-repeat="grade in class.grades" class="item grade item-text-wrap">
                        {{"__"+grade.name+"__" | translate}}
                        <span class="badge" ng-if="grade.grade" ng-class="{'badge-energized': grade.prov, 'badge-positive': !grade.prov}">
                            <i ng-if="grade.stats" class="icon ion-pie-graph"></i><i ng-if="grade.prov" class="icon ion-alert-circled"></i>&nbsp;{{grade.grade}}
                        </span>
                    </ion-item>
                </ion-list>
            </ion-item>
        </ion-list>
        <ion-item ng-if="!classes || !classes.length" class="item-text-wrap" ng-click="gotoPage('settings')">
            {{ "__NO_CLASSROOMS__" | translate }}
        </ion-item>
    </ion-content>
    <ion-footer-bar align-title="center" class="bar-colored" style="background-color: #2e3a69;" ng-if="state.session">
        <div class="button-bar">
            <button class="button button-clear icon ion-university" ng-click="openCampus()"> {{'__GOTO_CAMPUS__' | translate}}</button>
            <button class="button button-clear icon ion-email" ng-class="{'button-assertive': state.unread_mail > 0}" ng-click="openMail()"> {{'__MAIL__' | translate}}</button>
        </div>
    </ion-footer-bar>
</ion-view>
