<ion-view view-title="UOC Notifier">
  <ion-content ng-controller="AppCtrl">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
    <div class="padding">
        <h1>UOC Notifier</h1>
        <ion-list>
            <ion-item ng-repeat="class in classes" href="#/app/class/{{class.code}}" class="item class">
                <span class="class-color" style="background-color: #{{class.color}};"></span> {{class.title}}
                <span class="badge badge-assertive" ng-if="class.messages > critical">{{class.messages}}</span>
                <span class="badge badge-energized" ng-if="class.messages <= critical && class.messages > 0">{{class.messages}}</span>
                <ion-list ng-if="class.messages">
                    <ion-item ng-repeat="resource in class.resources" ng-if="resource.messages > 0">
                        {{resource.title}}
                        <span class="badge badge-assertive" ng-if="resource.messages > critical">{{resource.messages}} / {{resource.all_messages}}</span>
                        <span class="badge badge-assertive" ng-if="resource.messages <= critical && resource.messages > 0">{{resource.messages}} / {{resource.all_messages}}</span>
                    </ion-item>
                </ion-list>
                <ion-list ng-if="class.grades.length > 0">
                    <ion-item ng-repeat="grade in class.grades">
                        {{grade.name | translate}}
                        <span class="badge badge-energized" ng-if="grade.grade && grade.prov"><i class="icon ion-alert-circled"></i> {{grade.grade}}</span>
                        <span class="badge badge-positive" ng-if="grade.grade && !grade.prov">{{grade.grade}}</span>
                    </ion-item>
                </ion-list>
            </ion-item>
        </ion-list>
    </div>
  </ion-content>
</ion-view>
