<ion-view view-title="{{acronym}} - {{'__EQUIPMENT__' | translate}}">
  <ion-content  ng-class="{'has-footer' : state.session}">
    <div class="list" ng-show="loaded">
      <ion-item ng-repeat="material in materials">
          <h2>{{material.title}}</h2>
          <div class="button-bar" ng-if="material.icons.length > 0">
            <div class="button icon ion-{{icon.icon}}" ng-repeat="icon in material.icons" aria-label="{{icon.description}}" title="{{icon.description}}" ng-click="openMaterial(icon.url)"></div>
          </div>
      </ion-item>
    </div>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-colored" style="background-color: #{{classroomColor}};" ng-if="state.session">
  <div class="button-bar">
    <button class="button button-clear icon ion-briefcase" ng-click="openMaterials()"> {{'__GOTO_MATERIALS__' | translate}}</button>
  </div>
</ion-footer-bar>
</ion-view>
