<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar>
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <span class="badge" ng-if="state.messages > 0" ng-class="{'badge-assertive': state.messages > state.critical, 'badge-energized': state.messages <= state.critical}">
          {{state.messages}}
        </span>
        <a class="badge badge-assertive"  ng-if="!state.loading && !state.session" href="#/app/options">
          <i class="icon ion-alert-circled"></i>
        </a>
        <ion-spinner ng-if="state.loading"></ion-spinner>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menu"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <ion-list>
        <ion-item class="item-icon-left" menu-close ui-sref="app.main">
          <i class="icon ion-home"></i> {{"TITLE" | translate}}
        </ion-item>
        <div class="item item-divider" ng-if="allclasses.length > 0">{{"__CLASSROOMS__" | translate}}</div>
        <ion-item menu-close ng-repeat="class in allclasses | orderBy:'title' | orderBy: 'type' | orderBy:'-notify' " ng-click="gotoClassroom(class.code)">
          <span class="class-color" style="background-color: #{{class.color}};"></span> {{class.title}}
          <span class="badge" ng-if="class.messages > 0" ng-class="{'badge-assertive': class.notify && class.messages > state.critical, 'badge-energized': class.notify && class.messages <= state.critical, 'badge-dark': !class.notify}">
            {{class.messages}}
          </span>
        </ion-item>
        <div class="item item-divider item-divider-small" ng-if="hasAssignments || state.session"></div>
        <ion-item class="item-icon-left" menu-close ng-click="gotoPage('tasks')" ng-if="hasAssignments">
            <i class="icon ion-flag"></i> {{"__ASSIGNMENTS__" | translate}}
        </ion-item>
        <ion-item class="item-icon-left" menu-close ng-click="gotoPage('links')" ng-if="state.session">
            <i class="icon ion-bookmark"></i> {{"__LINKS_TO_CAMPUS__" | translate}}
          </ion-item>
        </ion-list>
        <div class="item item-divider item-divider-small"></div>
        <ion-item class="item-icon-left" menu-close ng-click="gotoPage('settings')">
          <i class="icon ion-settings"></i> {{"__OPTIONS__" | translate}}
        </ion-item>
        <ion-item class="item-icon-left" menu-close ng-click="gotoPage('login')">
          <i class="icon ion-person"></i> {{"__LOGIN__" | translate}}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
