<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <span class="badge" ng-if="state.messages > 0" ng-class="{'badge-assertive': state.messages > state.critical, 'badge-energized': state.messages <= state.critical}">
          {{state.messages}}
        </span>
        <ion-spinner ng-if="state.loading"></ion-spinner>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/main">
          <i class="icon ion-home"></i> {{"TITLE" | translate}}
        </ion-item>
        <div class="item item-divider">{{"__CLASSROOMS__" | translate}}</div>
        <ion-item menu-close ng-repeat="class in classes" href="#/app/class/{{class.code}}">
          <span class="class-color" style="background-color: #{{class.color}};"></span> {{class.title}}
          <span class="badge" ng-if="class.messages > 0" ng-class="{'badge-assertive': class.messages > state.critical, 'badge-energized': class.messages <= state.critical}">
            {{class.messages}}
          </span>
        </ion-item>
        <div class="item item-divider"></div>
        <ion-item menu-close href="#/app/options">
          <i class="icon ion-settings"></i>
          {{"__OPTIONS__" | translate}}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
