<ion-view view-title="{{'__OPTIONS__' | translate}}">
  <ion-content>
    <form ng-submit="save(settings)">
        <div class="list">
          <div class="item item-divider">{{"__LOGIN__" | translate}}</div>
            <label class="item item-input" for="username">
              <div class="input-label"><i class="icon ion-person"></i>  {{"__USER__" | translate}}</div>
              <input id="username" type="text" ng-model="settings.username" placeholder="username">
            </label>

            <label class="item item-input" for="password">
              <div class="input-label"><i class="icon ion-locked"></i> {{"__PASSWORD__" | translate}}</div>
              <input id="password" type="password" ng-model="settings.password" placeholder="password">
            </label>

          <div class="item item-divider">{{"__OPTIONS__" | translate}}</div>

            <label class="item item-input item-select" for="uni">
              <div class="input-label">
                <i class="icon ion-earth"></i> {{"__UNI__" | translate}}
              </div>
              <select id="uni" ng-model="settings.uni">
                <option value="UOCc">UOC catalana</option>
                <option value="UOCi">UOC iberoamericana</option>
              </select>
            </label>

            <label class="item item-input" for="check_interval">
              <div class="input-label">
                <i class="icon ion-clock"></i> {{"__INTERVAL__" | translate}}
              </div>
              <input id="check_interval" disabled type="number" ng-model="settings.check_interval" min="20" step="10">
            </label>

            <label class="item item-input" for="critical">
              <div class="input-label">
                <i class="icon ion-alert-circled"></i> {{"__CRITICAL__" | translate}}
              </div>
              <input id="critical" type="number" ng-model="state.critical" min="0">
            </label>

            <ion-toggle ng-model="settings.check_mail"><i class="icon ion-email"></i> {{"__CHECK_MAIL__" |translate}}</ion-toggle>

            <ion-toggle ng-model="settings.notification"><i class="icon ion-speakerphone"></i> {{"__PUSH_NOTIFICATIONS__" |translate}}</ion-toggle>

          <div class="item item-divider">{{"__SHOW__" | translate}}</div>

            <label class="item item-input" for="today_tab">
              <div class="input-label">
                <i class="icon ion-flag"></i> {{"__UPCOMMING_DAYS__" | translate}}
              </div>
              <input id="today_tab" type="number" ng-model="settings.today_tab" min="0">
            </label>

          <div class="item item-divider">{{"__CLASS_NOTIFY__" | translate}}<br>
          <i class="icon ion-alert-circled"></i> {{"__DISABLE_UNUSED_CLASSROOMS__" | translate}}
          </div>

          <ion-toggle ng-repeat="classroom in allclasses" ng-model="classroom.notify" ng-change="save_classes()"><span class="class-color" style="background-color: #{{classroom.color}};"></span> <span ng-if="classroom.subject_code">{{classroom.subject_code}}</span> {{classroom.title}}</ion-toggle>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">{{"__SAVE__" | translate}}</button>
        </div>
    </form>
  </ion-content>
</ion-view>
