/* Empty. Add your own CSS if you like */
.class-color {
    float: left;
    width: 20px;
    height: 20px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    background: gray;
    margin-right: 5px;
    background-color: #555;
}

.item.class {
    padding: 16px;
}

.item.class .list {
    margin-top: 10px;
}

.item.event .item-content:not(.activated) {
    background-color: transparent;
}

.item.resource {
    padding: 9px;
}

.item.event, .item.event a{
    padding: 0;
}

.item.resource a {
    padding: 9px;
}

.event.success {
    background-color: #dff0d8;
}

.event.danger {
    background-color: #f2dede;
}

.event.warning {
    background-color: #fcf8e3;
}

.event.running .col-title,
event-date .near {
    font-weight: bold;
    line-height: 18px;
}

.event.success .name a{
    color: #3c763d;
}

.event.warning .name a{
    color: #8a6d3b;
}

.event.danger .name a{
    color: #a94442;
}

.bar-colored, .bar-colored .button {
    color: white;
}

.bar-colored {
    background-color: #555;
}

.bar .buttons-right .badge {
    line-height: 27px;
    margin-right: 6px;
}

.badge.badge-inline {
    display: inline;
    position: relative;
    top: 0;
    right: 0;
}

.item.resource .badge {
    top: 9px;
    right: 16px;
}

.col.col-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.placeholder-icon {
    color: #444;
}

.item.item-toggle div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.col-85 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 85%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 85;
    -ms-flex: 0 0 85%;
    flex: 0 0 85%;
    max-width: 85%;
}

.col-15 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 15%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 15;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
}

.item-body ol {
    list-style-type: decimal;
}

.item-body ul {
    list-style-type: disc;
}

.item-body ol,
.item-body ul {
    padding-left: 40px;
    margin: 16px 0;
}

.item-input {
    padding-right: 16px;
}

.item-text-wrap.item.item-toggle div {
    overflow: visible;
    text-overflow: clip;
    white-space: normal;
}

.input-label {
    width: 100%;
    max-width: none;
}

.item input {
    text-align: right;
}

event-date {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 15%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 15;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
    padding: 5px 0;

    display: block;
    width: 100%;
    line-height: 22px;
    text-align: center;
}