/* Empty. Add your own CSS if you like */
.class-color {
    float: left;
    width: 20px;
    height: 20px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    background: gray;
    margin-right: 5px;
    background-color: #555;
}

.item.class .list {
    margin-top: 10px;
}

.item.event .item-content:not(.activated) {
    background-color: transparent;
}

.item.event .badge, .item.resource .badge {
    top: 9px;
}

.item.event, .item.event a{
    padding: 0;
}
.item.resource a {
    padding: 10px;
}

.event.success {
    background-color: #dff0d8;
}

.event.danger {
    background-color: #f2dede;
}

.event.warning {
    background-color: #fcf8e3;
}

.event.running {
    font-weight: bold;
}

.event.success .name a{
    color: #3c763d;
}

.event.warning .name a{
    color: #8a6d3b;
}

.event.danger .name a{
    color: #a94442;
}

.bar-colored, .bar-colored .button {
    color: white;
}

.bar-colored {
    background-color: #555;
}

.bar .buttons-right .badge {
    line-height: 24px;
    margin-right: 6px;
}

.badge.badge-static {
    right: initial;
    position: static;
    display: inline;
}

.col.col-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.placeholder-icon {
    color: #444;
}

.item.item-toggle div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}