$green: #5cb85c;
$green-light: #EEFCEE;
$yellow: #f0ad4e;
$yellow-light: #FCFCEE;
$red: #f85361;
$red-light: #FCEEEE;

$positive:     #337AB7 !default;
$balanced:     $green !default;
$energized:    $yellow !default;
$assertive:    $red !default;

$uoc: #000078;
$uoc-alt: #73EDFF;
$links: #706F6F;

$base-color: $uoc !default;
$base-background-color: #f2f2f2 !default;

$item-divider-bg: white !default;

$toggle-on-default-bg: $uoc;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/release/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

.class-color {
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background: $uoc-alt;
    margin-right: 5px;
}

.item {
    &.class {
        padding: 16px 1px 16px 8px;
        .list {
            margin-top: 10px;
        }
    }

    &.event {
        padding: 0;
        .item-content:not(.activated) {
            background-color: transparent;
        }
        &.success {
            background-color: $green-light;
            .name a{
                color: $green;
            }
        }
        &.warning {
            background-color: $yellow-light;
            .name a{
                color: $yellow;
            }
        }
        &.danger {
            background-color: $red-light;
            .name a{
                color: $red;
            }
        }
        a {
            padding: 0;
        }
    }

    &.resource {
        padding: 9px;
        a {
            padding: 9px;
        }
    }

    &.grade {
        padding: 9px;
        padding-right: 70px;
    }

    &.resource,
    &.grade {
        .badge {
            top: 9px;
        }
    }

    .badge {
        right: 10px;
    }
}

.event.running .col-title,
event-date .near {
    font-weight: bold;
    line-height: 18px;
}

.item-divider,
.bar-header {
    color: $uoc;
    border: 0;
    border-bottom: 3px solid $uoc;
}

.bar-header,
.bar-header .button,
.bar-colored,
.bar-colored .button {
    color: $uoc;
}

.bar-colored {
    border: 0;
    border-top: 3px solid $uoc-alt;

    &.bar-uoc {
        border-top-color: $uoc;
    }
}

.bar .buttons-right .badge {
    line-height: 27px;
    margin-right: 6px;
}

.badge.badge-inline {
    display: inline;
    position: relative;
    top: 0;
    right: 0;
}

.badge {
    color: #444;
}

.col.col-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.placeholder-icon {
    color: #444;
}

.item.item-toggle div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.col-85 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 85%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 85;
    -ms-flex: 0 0 85%;
    flex: 0 0 85%;
    max-width: 85%;
}

.col-15 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 15%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 15;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
}

.item-body {
    ol {
        list-style-type: decimal;
    }
    ul {
        list-style-type: disc;
    }
    ol, ul {
        padding-left: 40px;
        margin: 16px 0;
    }
}

.item-input {
    padding-right: 16px;
}

.item-text-wrap.item.item-toggle div,
.col.wrap-text {
    overflow: visible;
    text-overflow: clip;
    white-space: normal;
}

.input-label {
    width: 100%;
    max-width: none;
}

.item input[type="number"] {
    text-align: right;
}

.item p:first-child {
    margin-top: 0;
}

event-date {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 15%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 15;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
    padding: 5px 0;

    display: block;
    width: 100%;
    line-height: 22px;
    text-align: center;

    .badge.badge-inline {
        position: relative;
        top: 0;
        right: 0;
        display: inline;
    }
}

.button-bar {
    flex-flow: row wrap;

    > .button {
        flex-basis: 20%;
    }
}

.item-stacked-label {
    background-color: white;
}

.item-assertive a {
    color: white;
}

.platform-ios ion-side-menu.menu.menu-left {
    top: 20px;
}

.item-divider-small {
    height: 0;
    min-height: 0;
    padding: 0;
}

.card {
    box-shadow: none;
    border: 0;
    border-bottom: 3px solid $uoc;

    &.card-balanced {
        border-color: $balanced;
    }
    &.card-energized {
        border-color: $energized;
    }
    &.card-assertive {
        border-color: $assertive;
    }
}